*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

#root {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

:root {
    --fc-today-bg-color: #f4f8ff;
    --fc-highlight-color: rgba(218, 231, 255, 0.3);
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
    padding: 24px;
}

.fc-theme-standard .fc-scrollgrid {
    border-left: none;
}

.fc .fc-timegrid-axis-frame {
    justify-content: center;
}

.fc .fc-timegrid-slot-label-cushion {
    font-size: 14px;
}

.fc .fc-dayGridMonth-view tbody tr {
    height: calc(1 / 6 * 100%);
}

.fc .fc-daygrid-day-number {
    min-height: 40px;
}

.fc-daygrid-event {
    border-radius: 4px;
    min-height: 24px;
}

.fc .fc-daygrid-day-number {
    font-size: 14px;
    line-height: 1.2;
}

.fc-event:focus {
    box-shadow: none;
}

.fc-event:focus:after {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.fc .fc-list-event-time,
.fc-list-event-graphic {
    vertical-align: middle;
}

.fc a[data-navlink]:hover {
    text-decoration: none;
}
